 <div id="help">
      <h4>Live stores who love using our app</h4>
      <p>https://www.thepriorymenswear.co.uk/pages/brands&nbsp;</p>
      <p>https://shop.thevegankind.com/pages/brands&nbsp;</p>
      <p>https://www.biscuit.clothing/pages/brands&nbsp;</p>
      <p>https://turnpikeshoes.com/pages/brands&nbsp;</p>
      <p>https://www.suresurvive.com/pages/brands&nbsp;</p>
      <p>https://perfumebrands.net/pages/brands</p>
      <h3>Instructions</h3>
      <p>1. Install app</p>
      <p>(Please note a new page called 'Brands' is created under Online store&gt;pages)</p>
      <p>You can view the brand page created by our app via the following links:</p>
      <p>https://storeurl.com/pages/brands</p>
      <p>or</p>
      <p><span>https://storeurl.com/pages/brands-1 </span></p>
      <p><span>(if you have already created a brand page before installing the app, a page brands-1 handle will be created. You can swap them around later by editing the page handle.)</span></p>
      <p>2. In your Shopify admin panel, go&nbsp;to Online Store&gt;Navigation</p>
      <p>3. In your main navigation add a new menu item&nbsp;(Call it Brands).</p>
      <p>4. Link the new menu item to your Brand page</p>
      <meta charset="utf-8">
      <p>5. Save your menu.</p>
      <meta charset="utf-8">
      <h3></h3>
      <h3>Accessing App</h3>
      <p>In your Shopify admin, Navigate to Apps &gt; Brand Page</p>
      <p>Click on the app to open the app settings to view and manage your brands</p>
      <p>We offer <b>support for installations</b> and any help you may need using Brand Page. Simply <strong><a rel="nofollow" href="mailto:support@aperitive.io">get in touch</a>.</strong></p>
      <br>
      <p>If your store has only a few brands, add the below code in the custom CSS field in the app settings and click submit.</p>
      <pre>                                .brandPage_Root {
                                    width: 200px;
                                }
                                </pre>
      <h3>Auto Map to Collections</h3>
      <p>This feature will automatically link brand names to your collections if the collection handle is matching the vendor handle. </p>
      <p>Please ensure you refresh brands by clicking on the refresh button before using the Auto Map to Collection Feature.</p>
      <h3>Layout options</h3>
      <p>Choose between Vertical (default) or Horizontal layouts.</p>
      <h3>About Aperitive</h3>
      <p>Aperitive is a web agency specializing&nbsp;in Shopify design/development&nbsp;and Shopify apps.<strong>&nbsp;</strong>If you have any custom app requirements please contact us.</p>
   </div>