<div id="pricing">
      <div>
         <div class="box-wrapper">
            <!-- Pricing Table Section -->
            <section id="pricing-table">
               <div class="row">
                  <div class="pricing">
                     <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="pricing-table ">
                           <div class="pricing-header">
                              <p class="pricing-title">Basic</p>
                              <p class="pricing-rate" style="margin: 17px 0px 22px 0px"><sup>$</sup> 7.99 <span>/Mo.</span></p>
                              <div class="upgradetoLogoFeature" style="">
                                 <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;"><button type="button" class="btn btn-custom Polaris-Button Polaris-Button--outline"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Current Plan</span></span></button></div>
                              </div>
                              <div class="downgradetoLogoFeature" style="display:none;">
                                 <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;"><button type="button" class="btnDowngradePlan btn btn-custom Polaris-Button Polaris-Button--outline"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Downgrade now</span></span></button></div>
                              </div>
                           </div>
                           <div class="pricing-list">
                              <ul>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Automatic Brand Page</span></li>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Multiple Layouts</span></li>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Automap to collections</span></li>
                                 <li><i class="glyphicon glyphicon-remove"></i><span>Featured Brands</span></li>
                                 <li><i class="glyphicon glyphicon-remove"></i><span>Brand Logos</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="pricing-table ">
                           <div class="pricing-header">
                              <p class="pricing-title">Pro</p>
                              <p class="pricing-rate" style="margin: 17px 0px 22px 0px"><sup>$</sup> 9.99 <span>/Mo.</span></p>
                              <div class="downgradetoLogoFeature" style="display:none;">
                                 <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;"><button type="button" class="btn btn-custom Polaris-Button Polaris-Button--outline"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Current Plan</span></span></button></div>
                              </div>
                              <div class="upgradetoLogoFeature" style="">
                                 <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;"><button type="button" class="btnUpgradePlan btn btn-custom Polaris-Button Polaris-Button--outline"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Upgrade now</span></span></button></div>
                              </div>
                           </div>
                           <div class="pricing-list">
                              <ul>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Automatic Brand Page</span></li>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Multiple Layouts</span></li>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Automap to collections</span></li>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Featured Brands</span></li>
                                 <li><i class="glyphicon glyphicon-ok"></i><span>Brand Logos</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- Pricing Table Section End -->
         </div>
      </div>
   </div>